<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>

</head>

<body>
  <h2>
    <%= pageTitle %>
  </h2>
  <p>Use your defined webcompent in the <code>index.ejs</code></p>
  <simple-btn text="I'm a button" size="sm"></simple-btn>

</body>

</html>